nav {
  background-color: #d7e3f1;
  margin-bottom: 1em;
}

#boton{
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 6px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 4px 5px 6px #666666;
  -moz-box-shadow: 4px 5px 6px #666666;
  box-shadow: 4px 5px 6px #666666;
  text-shadow: 1px 1px 3px #700870;
  border: solid #5c59bd 2px;
  background:#5c59bd;
  background: -moz-linear-gradient(top, #5c59bd, #5c59bd);
}

#boton:hover {
  background: #1054de;
}

nav ul{
  list-style: none;
  margin: 0;
  margin-bottom: 0em;
  padding: 0em;
  margin-left: 0em;
}

nav ul li {
  display:inline-block;
  width: 17%;
  height: 10%;
  padding: 1em 3em 1em 0em;
  margin: 0%;
  margin-right: 0em;
}

nav ul li a {
  color:white;
  text-align: center;
  padding: 0em 0em;
  display: inline-block;
}




